*.opendb
*.db
Debug/*
Release/*

# 加入设置和保存文件
work/*
!work/game
work/game/*
!work/game/config
!work/game/script
!work/game/save
work/game/save/*
!work/game/save/csv
work/game/save/csv/*
!work/game/save/csv/0_*

*.tlog
*.idb
*.iobj
*.ipdb
x86/
.vs/
*.zip
src/CMakeFiles/*
*.aps
Win32/
x64/
common/*
common
include/*
