*.opendb
*.db
Debug/*
Release/*
work/*
*.tlog
*.idb
*.iobj
*.ipdb
x86/
.vs/
*.zip
src/CMakeFiles/*
*.aps
Win32/
x64/
common/*
common
include/*
bass24-linux
bassmidi24-linux
build
game
hades
kys-c++
.vscode

kys-cpp-androidstudio/app/.cxx
kys-cpp-androidstudio/app/lib/arm64-v8a
kys-cpp-androidstudio/.gradle
kys-cpp-androidstudio/.idea
kys-cpp-androidstudio/app/jni/include/
build.log
