*.opendb
*.db
Debug/*
Release/*
work/*
!work/game/script
!work/config/battle.yaml
!work/game/save/csv/0_*
*.tlog
*.idb
*.iobj
*.ipdb
x86/
.vs/
*.zip
src/CMakeFiles/*
*.aps
Win32/
x64/
common/*
common
include/*
